@use "../utils/" as u;

.header {
    min-width: u.rem(327);
    max-width: u.rem(1300);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    inset: 0;
    background: hsla(0, 100%, 100%, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 8px -8px var(--color-grey-500-shadow);
    padding: u.rem(24);

    @include u.breakpoint(small) {
        padding-block-end: 48;
        padding-inline: 0;
    }

    @include u.breakpoint(medium) {
        padding-block-end: 0;
        align-items: flex-start;
        height: u.rem(99);
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: u.rem(16);

        @include u.breakpoint(medium) {
            height: 100%;
            padding-block-start: u.rem(12);
            align-items: flex-start;
            gap: u.rem(56);
        }

        &--hamburger {
            display: flex;
            border: none;
            background-color: transparent;
            width: u.rem(16);
            height: u.rem(16);

            @include u.breakpoint(medium) {
                display: none;
            }
        }

        &--logo {
            height: u.rem(20);
        }

        &--list {
            display: none;

            @include u.breakpoint(medium) {
                display: flex;
            }

            &-links {
                display: flex;
                gap: u.rem(32);
            }

            &-link {
                & a {
                    display: flex;
                    height: u.rem(62);
                    color: var(--color-grey-500);

                    @include u.text-preset-4;
                }

                &:hover {
                    border-bottom: 2px solid var(--color-orange-500);
                }
            }
        }
    }

    &__user {
        display: flex;
        align-items: center;
        gap: u.rem(24);
        position: relative;

        @include u.breakpoint(small) {
            gap: u.rem(48);
        }

        @include u.breakpoint(medium) {
            height: u.rem(50);
        }

        &--cart {
            width: u.rem(20);
            height: u.rem(20);
            border: none;
            background-color: transparent;
            fill: var(--color-grey-500);

            &:hover {
                fill: var(--color-grey-950);
            }
        }

        &--avatar {
            width: clamp(1.5rem, -0.027rem + 7.471vw, 3.125rem);
            height: clamp(1.5rem, -0.027rem + 7.471vw, 3.125rem);

            &:hover {
                border: 2px solid var(--color-orange-500);
                border-radius: 50%;
            }
        }
    }

    &__cart {
        min-height: u.rem(350);
        height: 100%;
        position: absolute;
        top: 110%;
        right: 0;
        left: 0;
        background-color: var(--color-white);
        margin-inline: u.rem(8);
        padding-block: u.rem(24);
        border-radius: u.rem(10);
        box-shadow: 0 20px 50px 0px hsla(220, 13%, 13%, 10%);
        display: none;

        @include u.breakpoint(small) {
            right: u.rem(-70);
            top: u.rem(80);
            left: initial;
            width: u.rem(400);
        }
        &.is-open {
            display: block;
        }

        &--heading {
            padding-block-end: u.rem(24);
            border-bottom: 1px solid var(--color-grey-100);
            padding-inline: u.rem(14);

            & h5 {
                color: var(--color-grey-950);

                @include u.text-preset-3-bold;
            }
        }

        &--content {
            height: calc(100% - 51px);
            padding-inline: u.rem(24);
            padding-block-start: u.rem(24);
            display: flex;

            &.empty {
                justify-content: center;
                align-items: center;
                color: var(--color-grey-500);

                @include u.text-preset-3-bold;
            }

            &.filled {
                flex-direction: column;
                justify-content: space-between;
            }
        }

        &--list {
            display: flex;
            flex-direction: column;
            gap: u.rem(8);
        }

        &--item {
            display: flex;
            align-items: center;
            gap: u.rem(16);

            &-img {
                width: u.rem(50);
                border-radius: u.rem(4);
            }

            &-description {
                display: flex;
                flex-direction: column;
                margin-right: auto;
                color: var(--color-grey-500);

                @include u.text-preset-3;

                &-price {
                    display: flex;
                    gap: u.rem(8);
                }

                &-total {
                    color: var(--color-grey-950);
                    @include u.text-preset-3-bold;
                }
            }

            &-delete {
                border: none;
                background-color: transparent;
            }
        }

        &--checkout {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: u.rem(16);
            height: u.rem(56);
            border-radius: u.rem(10);
            border: none;
            color: var(--color-grey-950);
            background-color: var(--color-orange-500);
            width: 100%;

            @include u.text-preset-3-bold;
        }
    }
}
