@use "../utils/" as u;

.product {
    min-width: u.rem(327);
    max-width: u.rem(1100);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: u.rem(24);

    @include u.breakpoint(small) {
        gap: u.rem(48);
    }

    @include u.breakpoint(medium) {
        flex-direction: row;
        gap: u.rem(80);
        margin-block-start: u.rem(48);
        padding-inline: u.rem(40);
    }

    &__lightbox {
        height: u.rem(400);
        width: 100%;

        @include u.breakpoint(medium) {
            display: flex;
            flex-direction: column;
            gap: u.rem(32);
            height: u.rem(500);
        }

        &--selected {
            position: relative;
            height: 100%;
            width: 100%;

            &-button {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                border: none;
                border-radius: 50%;
                width: u.rem(40);
                height: u.rem(40);
                background-color: var(--color-white);

                &.previous {
                    top: 50%;
                    left: u.rem(16);
                    padding-inline-end: u.rem(5);
                }

                &.next {
                    top: 50%;
                    right: u.rem(16);
                    padding-inline-start: u.rem(5);
                }

                @include u.breakpoint(medium) {
                    display: none;
                }
            }

            &-img {
                height: 100%;
                width: 100%;
                background: url("../images/image-product-1.jpg") no-repeat
                    center;
                background-size: cover;

                @include u.breakpoint(small) {
                    border-radius: u.rem(15);
                }
            }
        }

        &--additional {
            display: none;

            @include u.breakpoint(medium) {
                display: flex;
                justify-content: space-between;
                gap: u.rem(32);
            }

            &-thumbnail {
                border: none;
                background-color: transparent;
                width: u.rem(88);
                height: u.rem(88);

                & img {
                    width: 100%;
                    border-radius: u.rem(10);
                }

                &.selected {
                    border: 2px solid var(--color-orange-500);
                    border-radius: u.rem(10);

                    & img {
                        opacity: 0.4;
                        border-radius: u.rem(8);
                    }
                }

                &:hover:not(.selected) {
                    border: 2px solid var(--color-orange-500);
                    border-radius: u.rem(10);

                    & img {
                        border-radius: u.rem(8);
                    }
                }
            }
        }
    }

    &__details {
        padding-inline: u.rem(24);
        width: 100%;

        @include u.breakpoint(small) {
            padding-inline: 0;
        }

        @include u.breakpoint(medium) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &--header {
            display: flex;
            flex-direction: column;
            gap: u.rem(16);
            color: var(--color-grey-950);
            margin-block-end: u.rem(16);

            @include u.text-preset-2;

            @include u.breakpoint(small) {
                margin-block-end: u.rem(24);
                @include u.text-preset-1;
            }

            &-sub {
                color: var(--color-grey-500);
                text-transform: uppercase;

                @include u.text-preset-6;

                @include u.breakpoint(small) {
                    @include u.text-preset-5;
                }
            }
        }

        &--info {
            color: var(--color-grey-500);
            margin-block-end: u.rem(24);

            @include u.text-preset-4;

            @include u.breakpoint(small) {
                @include u.text-preset-3;
            }
        }

        &--price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-block-end: u.rem(32);

            @include u.breakpoint(small) {
                align-items: flex-start;
                flex-direction: column;
                gap: u.rem(8);
            }

            &-current {
                display: flex;
                gap: u.rem(16);
                color: var(--color-grey-950);

                @include u.text-preset-2;
            }

            &-discount {
                display: flex;
                align-items: center;
                justify-content: center;
                width: u.rem(50);
                height: u.rem(27);
                color: var(--color-white);
                background-color: var(--color-grey-950);
                border-radius: u.rem(6);
                padding-inline: u.rem(10);

                @include u.text-preset-3-bold;
            }

            &-old {
                color: var(--color-grey-500);
                text-decoration: line-through;

                @include u.text-preset-3-bold;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: u.rem(16);

        @include u.breakpoint(small) {
            flex-direction: row;
            gap: u.rem(8);
        }

        &--quantity {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: u.rem(56);
            background-color: var(--color-grey-50);
            border-radius: u.rem(10);
            padding-block: u.rem(16);
            width: 100%;

            &-button {
                display: flex;
                align-items: center;
                height: u.rem(56);
                padding-inline: u.rem(24);
                border: none;
                background-color: transparent;
                cursor: pointer;
                transition: all 200ms;

                &.minus {
                    border-radius: u.rem(10) 0 0 u.rem(10);
                    border-right: 2px solid var(--color-grey-100);

                    &:active {
                        box-shadow: inset 2px 2px 3px 5px
                            var(--color-grey-500-shadow);
                    }
                }

                &.plus {
                    border-radius: 0 u.rem(10) u.rem(10) 0;
                    border-left: 2px solid var(--color-grey-100);

                    &:active {
                        box-shadow: inset -2px 2px 3px 5px var(--color-grey-500-shadow);
                    }
                }
            }

            &-amount {
                color: var(--color-grey-950);

                @include u.text-preset-3-bold;
            }
        }

        &--add {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: u.rem(16);
            height: u.rem(56);
            border-radius: u.rem(10);
            border: none;
            color: var(--color-grey-950);
            background-color: var(--color-orange-500);
            box-shadow: 0 20px 50px 0 var(--color-orange-500-shadow);
            width: 100%;

            @include u.text-preset-3-bold;

            &:hover {
                background-color: var(--color-orange-300);
            }
        }
    }
}
